{% load static %}

{% include  'Outside/header1.html' %}

<section class="py-5 mt-5 " style="background-color: lightblue">
    <br><br>
   <div class="row px-3" style="margin-left: 400px;" >

          <div class="card shadow-sm mb-3 "style="width:600px;">
              <h1>help</h1>
              <div class="card-body" >
                  <h5>
 <h3>* Sign in & out in system</h3><br>
  to login <br>
                      -you must be employee or staff or manager <br>
                      -you must have account, <br>

  <h3>* if you want to applay for registration.min.gev.et </h3>   use one of two link on home page     <br>
<h3>* When you Sign in</h3>
You can see and update your synced info on  your devices.   <br>


 <h3> * To sign in your Account.</h3>

At the top , click on login .
-then use your username and password to login <br>
<h3>* After you used the system and want to sign out</h3>
At the top , click profile picture then sign out .


</h5>
              </div>
          </div>
    </center>
   </div>



</section>

{% include  'Outside/footer1.html' %}




