{% extends 'base.html'%}
{%block body%}
     <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">

                        <h3 class="page-title">feedback</h3>

                             {% include 'includes/messages.html' %}
                     </div>
                     <div class="col-auto text-right float-right ml-auto">
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                           view all feedback
                       </button>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table id="mytable" class="table table-hover table-center mb-0 datatable">
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th> Employee Name</th>
                                       <th>feedback</th>
                                         <th>date</th>

                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for i in feedback %}
                                    <tr>
                                       <td>{{i.id}}</td>
                                       <td>
                                          <h2 class="table-avatar">
                                             <a href="student-details.html" class="avatar avatar-sm mr-2"><img class=" rounded-circle" style="width: 30px; height: 30px;"src="/{{i.employee_id.admin.profile_pic}}" alt="User Image"></a>
                                             {{i.staff_id.admin.first_name}}&nbsp{{i.staff_id.admin.last_name}}
                                          </h2>
                                       </td>
                                       <td>{{i.feedback}}</td>
                                        <td>{{i.created_at}}</td>

                                       <td class="text-right">
                                       <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{i.staff_id.admin.first_name}}">
                                          reply
                                       </button>

                                       </td>
                                    </tr>
                                {% endfor%}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>




<!--send notification modal-->

<!-- Modal -->
{% for i in feedback %}
<div class="modal fade" id="exampleModal-{{i.staff_id.admin.first_name}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">reply feedback to {{i.staff_id.admin.first_name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <form method="post" action="{% url 'manager_save_staff_feedback'%}">
            {% csrf_token %}
          <div class="form-group">
             <input type="text" class="form-control" name="feedback_id" value="{{i.id}}"   >
              <textarea rows="5" type="text"  name="feedback_replay" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">send notification</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- Modal -->
{% for i in staff %}
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Replay to {{i.admin.first_name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                                 <thead>
                                    <tr>
                                         <th>ID</th>
                                       <th>feedback</th>
                                       <th class="text-right">reply</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for i in feedback %}
                                    <tr>
                                        <td>{{i.id}}</td>
                                       <td>{{i.feedback}}</td>


                                        {% if i.feedback_replay == "" %}
                                        <td>  <span  class="btn btn-danger text-dark"> pleas replay it</span></td>
                                              {% else %}
                                        <td><h6 class="text-dark">{{i.feedback_replay}}</h6></td>
                                        {% endif %}

                                    </tr>
                                {% endfor%}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}