{% extends 'base.html'%}
{%block body%}
   <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Sessions</h3>
                         {% include 'includes/messages.html' %}
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                           <li class="breadcrumb-item active">view Session</li>
                        </ul>
                     </div>


                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table id="mytable" class="table table-hover table-center mb-0 datatable">
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>session_year_start</th>
                                       <th>session_year_end</th>
                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for i in session %}
                                    <tr>
                                       <td>{{i.id}}</td>
                                       <td>{{i.session_start}}</td>
                                       <td>{{i.session_end}}</td>
                                       <td class="text-right">
                                          <div>
                                             <a href="{% url 'manager_update_session' i.id %}" class="btn btn-success mr-2">
                                             <i class="fas fa-pen"></i>
                                             </a>
                                             <a href="{% url 'manager_delete_session' i.id %}" class="btn btn-danger ">
                                             <i class="fas fa-trash"></i>
                                             </a>
                                          </div>
                                       </td>
                                       </td>
                                    </tr>
                                {% endfor%}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
{% endblock %}