{% extends "main/header.html" %}

{% block content %}

  {% load static %}

  <!--Password Reset Confirm-->
    <div class="container p-5">
        <div class="card">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST" class="form-control">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary " type="submit">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}