{% load static %}

{% include  'Outside/header1.html' %}
<section class="py-5 mt-5 " style="background-color: lightblue">
   <div class="row px-3" style="margin-left: 50px;">
        <div class="col-6 px-3  mx-lg-3">
          <div class="card shadow-sm mb-3 ">
             <img src="{% static 'images/team.jpg ' %} " style="height:500px;">
              <div class="card-body">

            </div>
          </div>

        </div>

        <div class="col-4" style="margin-left: 30px;padding: 30px;">
<br>
           <h2>About MinT</h2><br>
          <h4> <p>Ministry of Innovation and Technology (MinT) is a governmental institution that established for the first time in December 1975 by proclamation No.62/1975 as a commission.</p></h4>
          <br><br>
           



           <br> 

      </div>
</section>

{% include  'Outside/footer1.html' %}




